<div class="">
    <div class="flex justify-center">
        <h1 class="bg-clip-text text-transparent 
        bg-gradient-to-r from-pink-500 to-violet-500
        font-extrabold text-9xl">04+</h1>
    </div>

    <div class="flex justify-center pt-8 mb-9 pb-9">
        <h1 class="text-7xl font-extrabold">Pre-built templates</h1>
    </div>

    <div class="">
        <div class="flex justify-center py-9">
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home1.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-10 text-2xl font-bold hover:text-emerald-400">Headphone Demo</h1>
            </div>
            
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home2.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-10 text-2xl font-bold hover:text-emerald-400">VR Headset Demo - 1</h1>
            </div>
            
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home3.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-10 text-2xl font-bold hover:text-emerald-400">VR Headset Demo - 2</h1>
            </div>
        </div>
        
        <div class="flex justify-center py-9">
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home4.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-10 text-2xl font-bold hover:text-emerald-400">Smart Glasses Demo</h1>
            </div>
            
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home5.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-10 text-2xl font-bold hover:text-emerald-400">Blog</h1>
            </div>
            
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home6.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-10 text-2xl font-bold hover:text-emerald-400">Blog Details</h1>
            </div>
        </div>

        <div class="flex justify-center py-9">
            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home7.jpg" width="456px" height="515px"/>
                <h1 class="flex justify-center pt-8 text-2xl font-bold hover:text-emerald-400">Contact Us</h1>
            </div>

            <div class="px-3">
                <img class="drop-shadow-xl" src="../../../assets/images/home8.jpg" width="456px" height="456px"/>
                <h1 class="flex justify-center pt-8 text-2xl font-bold hover:text-emerald-400">+ More Home Demos</h1>
            </div>
        </div>
    </div>
</div>