<div class="flex sticky top-0 justify-between items-center bg-white px-7 py-3 drop-shadow-md">
    <div class="flex">
        <h1 class="text-4xl font-bold">Pinax</h1>
    </div>
    <!--
        Hover change gradient color
        Header should stick to the top
    -->
    <div class="flex justify-between">
        <button class="px-5 text-xl font-semibold hover:text-emerald-300 ease-linear">
            <p>Demos</p>
        </button>
        
        <button class="px-5 text-xl font-semibold hover:text-emerald-300 ease-linear">
            <p>Features</p>
        </button>
        
        <button class="px-5 text-xl font-semibold hover:text-emerald-300 ease-linear">
            <p>Other Versions</p>
        </button>

        <button class="px-5 text-xl font-semibold hover:text-emerald-300 ease-linear">
            <p>Support</p>
        </button>
    </div>
    
    <div class="flex">
        <button class="bg-gradient-to-r from-blue-800 to-purple-700 
        hover:from-red-500 hover:to-orange-400 px-7 py-3 rounded">
            <p class="text-white text-xl font-semibold">Buy Now!</p>
        </button>
    </div>
</div>