<div class="bg-gradient-to-br from-blue-800 to-purple-700 py-28">
    <div class="flex justify-center text-white pt-5 text-xl">
        <p class="font-bold text-3xl">Purchase the Pinax Template now</p>
    </div>
    
    <div class="flex justify-center text-white text-xl">
        <p class="font-bold text-3xl">& make your website more</p>
    </div>
    
    <div class="flex justify-center pb-5 text-white text-xl">
        <p class="font-bold text-3xl"> excellent!</p>
    </div>
    
    <div class="flex justify-center py-9"> 
        <button class="bg-gradient-to-br from-red-500 to-orange-400 text-white text-xl font-semibold
        hover:from-blue-800 hover:to-purple-700 rounded px-4 py-3">
           <p class="text-white text-xl font-semibold"> Purchase Now! </p> 
        </button>
    </div>
    
    <div class="flex justify-center text-white">
        <p class="font-medium">Crafted by &nbsp;</p>
        <a href="" class="font-semibold hover:text-emerald-300">EnvyTheme.com</a>
    </div>
</div>