<div class="bg-black py-6">
    <div class="flex justify-center pt-10">
        <h1 class="text-8xl font-extrabold text-orange-600">Features</h1>
    </div>

    <div class="flex justify-center py-7">
        <h1 class="text-3xl font-semibold text-white">Awesome Features</h1>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <div class="flex justify-center"><img src="../../assets/images/angular.png"/></div>
            <div class="flex justify-center"><h1 class="pt-3">Angular</h1></div>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/typescript.png"/> 
            <h1 class="pt-3">Typescript</h1>
        </div>        
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/npm.png"/>
            <h1 class="pt-3">npm</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/sass.png"/>
            <h1 class="pt-3">Sass</h1>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/bootstrap.png"/>
            <h1 class="pt-3">Built on Bootstrap (v5.x)</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/rtl.png"/>
            <h1 class="pt-3">RTL Support</h1>
        </div>        
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/speed.png"/>
            <h1 class="pt-3">Speed Performance</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/owl.png"/>
            <h1 class="pt-3">Owl Carousel</h1>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/magnific.png"/>
            <h1 class="pt-3">Magnific Popup</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/animate.png"/>
            <h1 class="pt-3">Animate CSS</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/fonts.png"/>
            <h1 class="pt-3">Google Fonts</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/map.png"/>
            <h1 class="pt-3">Google Map</h1>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/fontawesome.png"/>
            <h1 class="pt-3">FootAwesome</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/flaticon.png">
            <h1 class="pt-3">Flaticon</h1>
        </div>        
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/html.png"/>
            <h1 class="pt-3">Valid HTML5 Code</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/css.png"/>
            <h1 class="pt-3">Valid CSS Code</h1>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/code.png"/>
            <h1 class="pt-3">Clean & Professional Code</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/responsive.png"/>
            <h1 class="pt-3">Fully Responsive</h1>
        </div>        
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/effect.png"/>
            <h1 class="pt-3">Smooth Transition Effects</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/browser.png"/>
            <h1 class="pt-3">Browser Compatibility</h1>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/customize.png"/>
            <h1 class="pt-3">Easy to Customize</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/retina.png"/>
            <h1 class="pt-3">Retina Ready</h1>
        </div>        
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/developer.png"/>
            <h1 class="pt-3">Developer Friendly</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/support.png"/>
            <h1 class="pt-3">Quick Support</h1>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 font-semibold text-white px-20">
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/doc.png"/>
            <h1 class="pt-3">Well Documented</h1>
        </div>
        <div class="flex-col justify-center bg-gray-800 p-10 m-2 hover:bg-white hover:text-black">
            <img src="../../assets/images/updates.png"/>
            <h1 class="pt-3">Free Lifetime Updates</h1>
        </div>
    </div>

    <div class="flex justify-around">
        <p class="">Grid 2.0</p>
    </div>
</div>