<div class="pt-60">
    <div class="flex justify-center">
        <img src="../../assets/images/angular.png" height="80px" width="80px"/>
    </div>

    <div class="flex justify-center mt-10">
        <h1 class="text-5xl font-bold">Pinax - Product Landing Angular 15</h1>
    </div>

    <div class="flex justify-center my-4">
        <h1 class="text-5xl font-bold">Template</h1>
    </div>

    <div class="flex justify-center my-10 pb-56">
        <button class="bg-gradient-to-r from-red-500 to-orange-400
        hover:from-blue-800 hover:to-purple-700 px-7 py-3 rounded">
        <h1 class="text-white text-xl font-semibold">See Demo</h1></button>
    </div>
<app-pre-built-templates></app-pre-built-templates>
</div>